%h3= flash[:notice]

= form_for @page do |f|
  -if @page.errors.any?
    #error_explanation
      %h2= "#{pluralize(@page.errors.count, "error")} prohibited this page from being saved:"
      %ul
        - @page.errors.full_messages.each do |msg|
          %li= msg

  .field
    %p= f.label :title
    %p= f.text_field :title

  .field
    %p= f.label 'Description (Textile markup)'
    %p= f.text_area :raw_description
  .field
    %p= f.label 'Content (Textile markup)'
    %p= f.text_area :raw_content

  .actions
    = f.submit 'Save'
