.pages
  .index
    %h1= t '.pages_listing'

    %table
      %tr
        %th= t '.title'
        %th= t '.user'

        %th{ colspan: 3 }= t '.controls'

      - @pages.each do |page|
        %tr
          %td= page.title
          %td= @user.username

          %td= link_to 'Show', page
          %td= link_to 'Edit', edit_page_path(page)
          %td= link_to 'Destroy', page, data: { confirm: 'Are you sure?' }, :method => :delete

    %br

    %p= paginate @pages

    = link_to 'New Page', new_page_path
